{%load static%}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'css/Main.css'%}">
        <link rel="shortcut icon" href="{%static 'image/logo.png'%}" type="image/x-icon">
        <title>Accueil</title>
    </head>
    <body>
        <header>
            <img src="{% static 'image/logo.png'%}" alt="logo" width="100" height="100">
            <h1 id="nameDomaine">ConvertisseurFile</h1>     
    
            <div class="menu">
                <a href="{% url 'Accueil' %}"><span id="upper">Accueil</span></a>
                <a href="{% url 'convert' %}"><span id="upper">Convertir</span></a>
                <a href="{% url 'contact' %}"><span id="upper">A propos</span></a>
                <a href="{% url 'aPropos' %}"><span id="upper">Contact</span></a>
            </div>
        </header>

        <main>
            <h1>Accueil</h1>
            <p>Bienvenue sur le site de conversion de fichier</p>
            <p>Ce site représente un projet encadrant un stage de 2ème année du BUT Informatique à l'Université de Lorraine pendant 2 mois.</p>
            <p>Le but de ce site est de permettre à l'utilisateur de convertir un fichier de plusieurs types en unte autre extension.</p>
            <p>Vous pouvez accéder à la page  répertoriant les différents types de fichiers que vous pouvez convertir en cliquant sur le lien ci-dessous.</p>
            <a id="lien1" href="{% url 'convert' %}"> → <span id="underL">CONVERTIR</span></a>
            <p>Le site est actuellement en version beta, il est donc possible que certaines fonctionnalités ne soient pas encore disponibles.</p>
        </main>

        <footer>
            <ul>
                <li id="liItem"><a id="footitem" href="{%static 'Accueil'%}">Accueil</a>
                <li id="liItem"><a id="footitem" href="{%static 'contact'%}">Contact</a>
                <li id="liItem"><a id="footitem" href="{%static 'aPropos'%}">A propos<br></a>
            </ul>
            
            <p><br>© 2023 ConvertisseurFile</p>
        </footer>
    </body>
</html>