{%load static%}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'css/Main.css'%}">
        <link rel="shortcut icon" href="{%static 'image/logo.png'%}" type="image/x-icon">
        <title>Conversion</title>
    </head>
    <body>
        <header>
            <img src="{% static 'image/logo.png'%}" alt="logo" width="100" height="100">
            <h1 id="nameDomaine">ConvertyFile</h1>     
    
            <div class="menu">
                <a href="{% url 'Accueil' %}"><span id="upper">Accueil</span></a>
                <a href="{% url 'convert' %}"><span id="upper">Convertir</span></a>
                <a href="{% url 'aPropos' %}"><span id="itemSpe">A propos</span></a>
                <a href="{% url 'contact' %}"><span id="upper">Contact</span></a>
            </div>
        </header>

        <main>
            <h1> A propos de nous </h1>
            <p> Nous sommes une équipe de 2 étudiants en BUT Informatique à l'Université de Lorraine. Nous avons créé ce site dans le cadre d'un stage sur une durée de 2 mois.</p>
            <p> Nous avons choisi de créer un site de conversion de fichier afin de faciliter la vie des utilisateurs. </p>
            <p> Nous avons choisi de créer ce site en HTML, CSS et Python/Django. </p>
            <hr>
            <p> Nous avons choisi de travailler à l'IUT de Saint-Dié-des-Vosges. </p>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.yFi14wvvYtMz2kTYeu3d1QHaFP%26pid%3DApi&f=1&ipt=69a33cefe4acfc38f7ea7a40a52d26dfed25fb3291172f9dffac185d500defe6&ipo=images" alt="iut" width="100" height="100">

        </main>

        <footer>
            <ul>
                <li id="liItem"><a id="footitem" href="{%url 'Accueil'%}">Accueil</a>
                <li id="liItem"><a id="footitem" href="{%url 'contact'%}">Contact</a>
                <li id="liItem"><a id="footitem" href="{%url 'aPropos'%}">A propos<br></a>
            </ul>
            
            <p><br>© 2023 ConvertisseurFile</p>
        </footer>
    </body>
</html>