{%load static%}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="text/javascript" href="{%static 'js/validateForm.js'%}">
        <link rel="stylesheet" href="{%static 'css/Main.css'%}">
        <link rel="shortcut icon" href="{%static 'image/logo.png'%}" type="image/x-icon">
        <title>Conversion</title>
    </head>
    <body>
        <header>
            <img src="{% static 'image/logo.png'%}" alt="logo" width="100" height="100">
            <h1 id="nameDomaine">ConvertisseurFile</h1>     
    
            <div class="menu">
                <a href="{% url 'Accueil' %}"><span id="upper">Accueil</span></a>
                <a href="{% url 'convert' %}"><span id="upper">Convertir</span></a>
                <a href="{% url 'aPropos' %}"><span id="upper">A propos</span></a>
                <a href="{% url 'contact' %}"><span id="itemSpe">Contact</span></a>
            </div>
        </header>

        <main>
            <h1>Formulaire de contact</h1>
            <form name="myForm" onsubmit="return validateForm()" method="post">
                <table class="form-style">
                    <tr>
                    <td>
                        <label>
                            Votre nom <span class="required">*</span>
                        </label>
                    </td>
                    <td>
                        <input type="text" name="name" class="long"/>
                        <span class="error" id="errorname"></span>
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <label>
                            Votre adresse e-mail <span class="required">*</span>
                        </label>
                    </td>
                    <td>
                        <input type="email" name="email" class="long"/>
                        <span class="error" id="erroremail"></span>
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <label>
                            Message <span class="required">*</span>
                        </label>
                    </td>
                    <td>
                        <textarea name="message" class="long field-textarea"></textarea>
                        <span class="error" id="errormsg"></span>
                    </td>
                    </tr>
                    <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Envoyer">      
                        <input type="reset" value="Réinitialiser"> 
                    </td>
                    </tr>
                </table>
            </form>
        </main>

        <footer>
            <ul>
                <li id="liItem"><a id="footitem" href="{%url 'Accueil'%}">Accueil</a>
                <li id="liItem"><a id="footitem" href="{%url 'contact'%}">Contact</a>
                <li id="liItem"><a id="footitem" href="{%url 'aPropos'%}">A propos<br></a>
            </ul>
            
            <p><br>© 2023 ConvertisseurFile</p>        
        </footer>
    </body>
</html>