{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/Main.css' %}">
        
        <title>Conversion</title>
        <link rel="shortcut icon" href="{% static 'image/logo.png'%}" type="image/x-icon">
    </head>

    <body>
        <div class="header">
            <img src="{% static 'image/logo.png'%}" alt="logo" width="100" height="100">
            <h1 id="nameDomaine">ConvertisseurFile</h1>
            
            <a href="{% url 'Accueil' %}">Accueil</a>
        </div>

        <div class="content">
            <h1>Voici la page où vous pouvez retrouver tous les types de conversions disponibles: </h1>
            <!--Aller a la page suivante en utilisant django-->
            <a href="{% url 'htp' %}">Html vers pdf</a>

            <a href="{% url 'dtp' %}">Docx vers pdf</a>

            <a href="{% url 'm4tm3' %}">MP4 vers MP3</a>
        </div>

        <div class ="footer">
            <p>Voici le pied de page</p>
        </div>
    </body>
</html>