{%load static%}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'css/Main.css'%}">
        <link rel="shortcut icon" href="{%static 'image/logo.png'%}" type="image/x-icon">
        <title>Conversion</title>
    </head>
    <body>
        <header>
            <img src="{% static 'image/logo.png'%}" alt="logo" width="100" height="100">
            <h1 id="nameDomaine">ConvertisseurFile</h1>     
    
            <div class="menu">
                <a href="{% url 'Accueil' %}"><span id="upper">Accueil</span></a>
                <a href="{% url 'convert' %}"><span id="upper">Convertir</span></a>
                <a href="{% url 'contact' %}"><span id="upper">A propos</span></a>
                <a href="{% url 'aPropos' %}"><span id="upper">Contact</span></a>
            </div>
        </header>

        <main>
            <h2>Voici la page où vous pouvez retrouver tous les types de conversions disponibles: </h2>
            <div class="encadrementConvert">
                <a id="lien" href="{% url 'htp' %}"><span id="underL">Html → Pdf</span></a>
                <a id="lien" href="{% url 'dtp' %}"><span id="underL">Docx → Pdf</span></a>
                <a id="lien" href="{% url 'm4tm3' %}"><span id="underL">MP4 → MP3</span></a>
                <a id="lien" href="{% url 'mdToPdf' %}"><span id="underL">Markdown → Pdf</span></a>
                <a id="lien" href="{% url 'mdToHtml' %}"><span id="underL">Markdown → Html</span></a>
            </div>
        </main>

        <footer>
            <p>Voici le pied de page</p>
        </footer>
    </body>
</html>