<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DOCX To PDF</title>
    </head>

    <body>
        <header>
            <h1>DOCX To PDF</h1>
            <a href={% url 'Accueil' %}>Accueil</a>        
        </header>

        <form action="/convertFileDocxToPdf">
            <button id="stat-btn" class="btn"> convert dtp</button>
        </form>

        <footer>
            <p>Footer</p>
        </footer>
        
    </body>
</html>
