{%load static%}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'css/Main.css'%}">
        <link rel="shortcut icon" href="{%static 'image/logo.png'%}" type="image/x-icon">
        <title>MP4 To MP3</title>
    </head>
    <body>
        <header>
            <img src="{% static 'image/logo.png'%}" alt="logo" width="100" height="100">
            <h1 id="nameDomaine">ConvertisseurFile</h1>     
    
            <div class="menu">
                <a href="{% url 'Accueil' %}"><span id="upper">Accueil</span></a>
                <a href="{% url 'convert' %}"><span id="itemSpe">Convertir</span></a>
                <a href="{% url 'aPropos' %}"><span id="upper">A propos</span></a>
                <a href="{% url 'contact' %}"><span id="upper">Contact</span></a>
            </div>        
        </header>

        <main>
            <h1 id="frameConv">Convertir un fichier Mp4 en Mp3</h1>
            <div class="encadrement">
                <p>Choisissez un fichier Mp4 à convertir en Mp3</p>
                <form action="/convertMp4ToMp3">
                    <button id="stat-btn" class="btn">convert</button>
                </form>
            </div>
        </main>

        <footer>
            <ul>
                <li id="liItem"><a id="footitem" href="{%url 'Accueil'%}">Accueil</a>
                <li id="liItem"><a id="footitem" href="{%url 'contact'%}">Contact</a>
                <li id="liItem"><a id="footitem" href="{%url 'aPropos'%}">A propos<br></a>
            </ul>
            
            <p><br>© 2023 ConvertisseurFile</p>        
        </footer>
    </body>
</html>
